body {
  background-image: url("https://img.freepik.com/foto-gratis/color-papel-pastel-rosa-morado-fondo-textura_60487-2475.jpg");
}
.Productos {
    width:300px;
    height:px;
    position:;
    top:; 
    bottom:700px;
    right:;
    left:;
}

.text {
    width:300px;
    height:px;
    position:relative;
    top:; 
    bottom:300px;
    right:;
    left:500px;
}