body {
  background-image: url("https://thumbs.dreamstime.com/b/folleto-morado-pastel-degradado-geom%C3%A9trico-formas-geom%C3%A9tricas-de-gradiente-movimiento-onda-decoraci%C3%B3n-contempor%C3%A1nea-plantilla-176956180.jpg");
}
.WAVI
{ 
            margin:100px;
            border:;
            background-color:;
            width:900px;
            position:relative;
            bottom:;

}
.text6
{
            width:500px;
            position:relative;
            bottom:250px;
            left:400px;
            text-align:;
            word-spacing:;
            line-height:;
}