body {
  background-image: url("https://st3.depositphotos.com/6044808/31667/i/450/depositphotos_316675174-stock-photo-elegant-white-background-with-drapery.jpg");
}
.Marcas {
    width:300px;
    height:px;
    position:;
    top:; 
    bottom:700px;
    right:;
    left:;
}

.text {
    width:300px;
    height:px;
    position:relative;
    top:; 
    bottom:300px;
    right:;
    left:500px;
}