body { 
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/254/545/non_2x/lilac-pastel-purple-color-watercolor-texture-background-free-photo.jpg");
      }


.SEPARADAS
{ 
            margin:400;
            border:;
            background-color:;
            width:100px;
            position:relative;
            bottom:800px;

}
.text6
{
            width:100px;
            position:;
            bottom:800px;
            left:px;
            text-align:;
            word-spacing:10px;
            line-height:20px;
}